/* remember to include <link href='https://fonts.googleapis.com/css?family=Revalia' rel='stylesheet'> */
#title{
    margin: 100px auto;
    width: 90%;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 96px;
    font-family: Revalia;
    
    line-height: 119px;
    margin-bottom: 100px;
    background: -webkit-linear-gradient(#FF0000, #D7DB0F,#000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu{
    height: 20%;
}
button{
    padding: 0;
    display: block;
    margin: auto;
    margin-bottom: 50px;
    width: 292px;
    height: 75px;
    border-radius: 12px;
    background-color: white;
    opacity: 0.6;
}
button:hover{
    background: linear-gradient(180deg, #010101 0%, rgba(255,0,0,0.55) 100%);
    width: 292px;
    height: 75px;
    opacity: 1;

}
.text-button:hover{
    background: linear-gradient(#FF0000, #D7DB0F,#000000);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    opacity: 1;
}
.text-button{
    width: 100%;
    height: 100%;
    font-family: Revalia;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    font-height: 45px;
}