td{
    padding: 0;
    border: solid;
    border-collapse: collapse;
}
td.can-move{
    background-color: rgb(119, 219, 119);
}
td.can-shoot{
    background-color: rgb(218, 84, 84);
}
.chesspiece{
    width: 90%;
}
button.button-chesspiece{
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: white;
}
button.can-move{
    background-color: inherit;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
button.can-shoot{
    background-color: inherit;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
button>.action{
    width: 100%;
    height: 100%;
}


