/* remember to include <link href='https://fonts.googleapis.com/css?family=Revalia' rel='stylesheet'> */
#landing-page{
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 0px;
    background-image: url(../../image/background.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: 70%;
}
a{
    text-decoration: none;
}
#title{
    margin: 100px auto;
    width: 90%;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 96px;
    font-family: Revalia;
    
    line-height: 119px;
    margin-bottom: 100px;
    background: -webkit-linear-gradient(#FF0000, #D7DB0F,#000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*------Set CSS for button and span text inside button-------*/
.menu-button{
    padding: 0;
    display: block;
    margin: auto;
    margin-bottom: 50px;
    width: 292px;
    height: 75px;
    border-radius: 12px;
    background-color: white;
    opacity: 0.6;
}
.menu-button:hover{
    background: linear-gradient(180deg, #010101 0%, rgba(255,0,0,0.55) 100%);
    width: 292px;
    height: 75px;
    opacity: 1;

}
.text-button:hover{
    background: linear-gradient(#FF0000, #D7DB0F,#000000);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    opacity: 1;
}
.text-button{
    width: 100%;
    height: 100%;
    font-family: Revalia;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    font-height: 45px;
}
/*----------------------------------------------------------*/
/*-------------Drop-Down menu-------------------*/
h2{
    font-weight: normal;
    font-style: normal;
    font-family: Revalia !important;
    background: -webkit-linear-gradient(#FF0000, #D7DB0F,#000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text{
    font-family: Revalia;
    font-style: normal;
    font-weight: normal; 
    display: inline-block;
    width: 150px;
    height: 50px;
    margin-left: 12%;
}
input{
    width: 140px;
    height: 20px;
    font-family: Revalia;
    font-style: normal;
    font-weight: normal; 
    -webkit-background-clip: text;
    -moz-background-clip: text;
    
}
.slider-button{
    border-radius: 12px;
    background-color: white;
    width: 100px;
    height: 30px;
}
.slider-button[disabled]:hover{
    opacity: 0.5 ;
    background: white
}
.slider-button:hover{
    background: linear-gradient(180deg, #010101 0%, rgba(255,0,0,0.55) 100%);
}
.slider-button-text{
    font-family: Revalia;
    font-style: normal;
    font-weight: normal;
}
.slider-button-text:hover{
    background: linear-gradient(#FF0000, #D7DB0F,#000000);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.dotmenu{
    width: 70px;
    height: 30px;
    display: inline-block;
}
.dropdown-button{
    border: none;
    text-align: left;
    min-width: 100px;
    padding: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content button:hover{
    background-color: #ddd;
}
.dotmenu:hover .dropdown-content{
    display: block;
}
.text-slider{
    width: 100%;
    height: 100%;
    font-family: Revalia;
    font-style: normal;
    font-weight: normal;
}
.text-slider:hover{
    background: linear-gradient(#FF0000, #D7DB0F,#000000);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.MuiDialogContentText-root{
    width: 400px;
    height: 150px;
}
.game-history{
    display: block;
    font-weight: normal;
    font-style: normal;
    font-family: Revalia !important;
}
.crown{
    width: 5%;
    height: 5%;
}
/*--------------------------------------------*/